.iglogo{
    width: 60px;
    margin-left: 20px;
}
/* .nav-item{
    float: right;
    
} */
/* ul li.sign_in {
    background: #36aae4;
    color: #fff !important;
} */

.navbar{
    width: 100%;
    background-color:antiquewhite;

}
.nav-link{
    left: 700px;
    position: relative;
}
.nav-link:hover,.navbar-brand:hover{
    color: red;
}
.carousel-inner img {
    width: 100%;
    height: 100%;
  }
.face_pass{
margin-left: 60px;
}

.user {
  text-decoration: none !important;
}