<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User Update</title>

    <!-- Custom CSS  -->
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ static_url('css/style.css') }}"
    />

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6"
      crossorigin="anonymous"
    />
    <!-- Font Awesome Icon CDN -->
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>
  <body style="padding: 50px">
    <!-- {{ data }} -->
    {% set i = 0 %}
    
    <h2>Dynamic User Details</h2>
    <form href="/" method="post" autocomplete="off"> 
      {% for val in data %}
      <div class="row">
        <div class="col-2">
          <label for="name">Name </label>
        </div>
        <div class="col-3">
          <input
            type="text"
            class="form-control"
            name="name[]"
            value="{{ data[i]['name'] }} "
            readonly
          />
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col-2">
          <label for="name">Age</label>
        </div>
        <div class="col-3">
          <input
            type="text"
            class="form-control"
            name="age[]"
            value="{{ data[i]['ages'] }}"
            readonly
          />
        </div>
      </div><br>
      <div class="row">
        <div class="col-2">
          <label for="name">City</label>
        </div>
        <div class="col-3">
          <input
            type="text"
            class="form-control"
            name="city[]"
            value="{{ data[i]['cities'] }}"
            readonly
          />
        </div>
      </div>
      <br />
      {% set i = i+1 %}
      {% end %}

      <div class="row">
        <div class="col-2"></div>
        <div class="col-3">
          <a href="/dynamic_user_list" class="btn btn-primary">Back</a>
        </div>
      </div>
    </form>

    <script
      type="text/javascript"
      src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.  
min.js"
    ></script>
  </body>
</html>
