<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>

  <!-- Custom CSS  -->
  <link rel="stylesheet" type="text/css" href="{{ static_url('css/style.css') }}" />

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous" />
  <!-- Font Awesome Icon CDN -->
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
</head>

<body style="padding: 30px">
  <h2>Dynamic Input Details</h2><br>
  <a href="/dynamic_user_add" class="btn btn-primary" style="margin-left: 900px">
    Add New</a>
  <a href="/user_login" class="btn btn-danger"> Login</a><br /><br />
  <table id="myTable1" class="table table-striped table-bordered" style="width: 100%">
    <!-- <table border="1"> -->
    <thead>
      <tr>
        <th>Name</th>
        <th>Age</th>
        <th>City</th>
        <th>Action</th>

      </tr>
    </thead>
    <tbody>
      {% for val in data %}
      <tr>
        <td id="name">{{ val['name'] }}</td>
        <td>{{ val['age'] }}</td>
        <td>{{ val['city'] }}</td>
        <td>
          <a class="user" title="Edit" href="/dynamic_user_edit/{{ val['id'] }}">
            <i class="fa fa-pencil" style="color: red"></i>
          </a>
          &nbsp; | &nbsp;
          <a class="user" title="View" href="/dynamic_user_view/{{ val['id'] }}">
            <i class="fa fa-eye"></i>
          </a>
          &nbsp; | &nbsp;
          <a class="user" title="Delete" href="/dynamic_user_delete/{{ val['id'] }}">
            <i class="fa fa-trash" style="color: red"></i>
          </a>
          <!-- &nbsp; | &nbsp;
            <a class="user" title="Download" href="/file_download/{{ val['id'] }}">
              <i class="fa fa-download"></i>
            </a> -->
        </td>
      </tr>
      {% end %}
    </tbody>
  </table>

  <!-- Model Popup CDN -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
    integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
    integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
    crossorigin="anonymous"></script>

  <!-- this file was moved after the jQuery Datatables library was laoded -->
  <script type="text/javascript" src="https://cdn.datatables.net/1.10.9/js/dataTables.bootstrap.min.js"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.  
    min.js"></script>
  <script type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-modal/2.2.6/js/bootstrap-modalmanager.min.js"></script>

  <script type="text/javascript" charset="utf8"
    src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>

  <script>
    $("#myTable1").DataTable({
      columnDefs: [
        {
          // targets: [2],
          orderable: false,
          searchable: false,
        },
      ],
      autowidth: true,
      scrollX: true,
      searching: true,
      order: [],
    });
  </script>
</body>

</html>