<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="shortcut icon" type="image/png" href="{{ static_url('image/login.png') }}" />
  <meta charset="UTF-8" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />

  <link rel="stylesheet" type="text/css" href="{{ static_url('css/style.css') }}" />
  <title>Face | Login</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="#"><img class="iglogo" src="{{ static_url('image/iglogo.png') }}" alt="IG" />
      Infognana Solutions</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact</a>
        </li>
        <li class="nav-item">
          <!-- <a class="nav-link" href="#" data-toggle="modal"
                            data-target="#myModal">Sign In</a> -->
          <a class="nav-link" href="javascript:void(0)" data-toggle="modal" data-target="#myModal">Sign In</a>
        </li>
      </ul>
    </div>
  </nav>

  <!-- Sign Modal....-->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header" align="center">
          <img class="iglogo" src="{{ static_url('image/iglogo.png') }}" alt="IG" />
          <h5 class="modal-title" id="exampleModalLabel">
            Infognana Solutions
          </h5>
          <button type="button" class="btn btn-default close" data-dismiss="modal">
            &times;
          </button>
        </div>
        <div class="modal-body">
          <span href="#" class="btn btn-default face_pass" id="toggle-login">Password Login</span>
          <span href="#" class="btn btn-default face_pass" id="toggle-register">Face Login</span>
          <br /><br /><br />
          <div id="loginForm">
            <form id="login" action="/user_profile" method="POST" autocomplete="off" style="text-align: center; display: none">
              <label for="">User Name &nbsp;&nbsp;</label>
              <input type="text" name="uname" placeholder="User Name" />
              <br /><br />
              <label for="">Password &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
              <input type="password" name="pwd" placeholder="Password" />
              <br /><br />
              <input type="submit" name="submit" value="Login" />
            </form>
          </div>

         <div id="registerForm">
            <form id="register" method="POST" autocomplete="off" style="text-align: center; display: none">
              <label for="">User Name &nbsp;&nbsp;</label>
              <input type="text" name="uname" placeholder="User Name" />
              <br /><br />
              <label for="">Password &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
              <input type="password" name="pwd" placeholder="Password" />
              <br /><br />
              <input type="submit" name="submit" value="Login" />
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--Carousel Wrapper-->
  <div id="carousel-example-2" class="carousel slide carousel-fade" data-ride="carousel">
    <!--Indicators-->
    <ol class="carousel-indicators">
      <li data-target="#carousel-example-2" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example-2" data-slide-to="1"></li>
      <li data-target="#carousel-example-2" data-slide-to="2"></li>
    </ol>
    <!--/.Indicators-->
    <!--Slides-->
    <div class="carousel-inner" role="listbox">
      <div class="carousel-item active">
        <div class="view">
          <img class="d-block w-100" src="{{ static_url('image/face_recog3.jpg') }}" alt="First slide" />
        </div>
      </div>
      <div class="carousel-item">
        <!--Mask color-->
        <div class="view">
          <img class="d-block w-100" src="{{ static_url('image/face_recog2.jpg') }}" alt="Second slide" />
        </div>
      </div>
      <div class="carousel-item">
        <!--Mask color-->
        <div class="view">
          <img class="d-block w-100" src="{{ static_url('image/face_recog.jpg') }}" alt="Third slide" />
        </div>
      </div>
    </div>
    <!--/.Slides-->
    <!--Controls-->
    <a class="carousel-control-prev" href="#carousel-example-2" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carousel-example-2" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
    <!--/.Controls-->
  </div>
  <!--/.Carousel Wrapper-->


</body>
<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
  integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
  integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
<script>
  $("#toggle-login").click(function () {
    $("#register").hide().attr("formnovalidate");
    $("#login").toggle();
  });

  $("#toggle-register").click(function () {
    $("#login").hide().attr("formnovalidate");
    $("#register").toggle();
  });
</script>

</html>