<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User View</title>

    <!-- Custom CSS  -->
    <link rel="stylesheet" type="text/css" href="{{ static_url('css/style.css') }}" />

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous" />
    <!-- Font Awesome Icon CDN -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
</head>

<body style="padding: 50px">
    <h2>User Edit Details</h2>

    <form action="/product_edit_add" method='get' autocomplete="off">
        <input type="hidden" name="prod_id" value="{{ data['id'] }}">
        <input type='submit' class="btn btn-primary" value="Add New">
    </form><br>
    <!-- <a href="/product_edit_add" class="btn btn-primary" style="margin-left: 900px"  name="prod_id" value="{{ data['id'] }}">
        Add New</a> -->
    <a class="user btn btn-danger delete" title="Delete">
        Delete
    </a><br>
    <!-- <form action="/product_edit_delete/" method='get' autocomplete="off">
        <input type="hidden" name="id" value="{{ data['id'] }}">
        <input type='submit' class="btn btn-danger delete" value="Delete">
    </form> -->

    <form id="product_edit" href="/product_edit/{{data['id']}}" method="post" autocomplete="off">
        <input type="hidden" name="prod_id" value="{{data['id']}}">
        <div class="row">
            <div class="col-2">
                <label for="name">Product Name</label>
            </div>
            <div class="col-3">
                <input type="text" class="form-control" id="prod_name" name="prod_name"
                    value="{{ data['prod_name'] }}" />
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-2">
                <label for="name">Price</label>
            </div>
            <div class="col-3">
                <input type="text" class="form-control" id="price" name="price" value="{{ data['price'] }}"  />
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-2">
                <label for="name">Quantity</label>
            </div>
            <div class="col-3">
                <input type="text" class="form-control" name="quantity" id="quantity" value="{{ data['quantity'] }}"  />
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-2">
                <label for="name">Gst %</label>
            </div>
            <div class="col-3">
                <input type="text" class="form-control" name="gst" id="gst" value="{{ data['gst'] }}" />
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-2">
                <label for="name">Final Gst</label>
            </div>
            <div class="col-3">
                <input type="text" class="form-control" name="final_gst" id="final_gst" value="{{ data['final_gst'] }}" />
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-2">
                <label for="name">Sub Total</label>
            </div>
            <div class="col-3">
                <input type="text" class="form-control" name="sub_total" id="sub_total" value="{{ data['sub_total'] }}"  />
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-2">
                <label for="name">Total</label>
            </div>
            <div class="col-3">
                <input type="text" class="form-control" name="total" id="total" value="{{ data['total'] }}"  />
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-2"></div>
            <div class="col-3">
                <!-- <a href="/product_list" class="btn btn-primary">Back</a> -->
                <a href="/product_list" class="btn btn-primary">Submit</a>

            </div>
        </div>
    </form>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.  
min.js"></script>
    <script>
        $('.delete').click(function () {
            $('#prod_name').val('');
            $('#price').val('');
            $('#quantity').val('');
            $('#gst').val('');
            $('#final_gst').val('');
            $('#sub_total').val('');
            $('#total').val('');



        });
    </script>

</body>

</html>