<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

  <title>Product Add</title>

  <!-- Custom CSS  -->
  <link rel="stylesheet" type="text/css" href="{{ static_url('css/style.css') }}" />

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous" />
  <!-- Font Awesome Icon CDN -->
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
</head>

<body style="padding: 50px">
  <h2>Product Details</h2>
  <div class="row">
    <div class="col-2">
      <label for="file">Product</label>
    </div>
    <div class="col-2">
      <select name="product" id="product">
        <option value="">Choose Product</option>
      </select>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-2">
      <label for="file">GST Percentage</label>
    </div>
    <div class="col-2">
      <select id="gst_percentage" onchange="gst_percentage(this.value)">
        <option value="">Choose Gst Percentage</option>
        <option value="28">28 %</option>
        <option value="18">18 %</option>
        <option value="8">8 %</option>
      </select>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-2"></div>
    <div class="col-2">
      <a href="#" id="submit" onclick="prod()" class="btn btn-danger product_add">Add Product</a>
    </div>
  </div>
  <div class="checkout">
    <!-- <select  name="product" id="product">
        <option value="">Choose Product</option>
      </select>
      <button id="submit" onclick="prod()">Add</button><br /> -->
    <!-- <p id="qty" onkeyup="multiply()"></p> -->
    <table id="tableId">
      <thead>
        <tr>
          <td><strong>Product Name</strong></td>
          <td><strong>Price</strong></td>
          <td><strong>Quantity</strong></td>
        </tr>
      </thead>
      <tbody id="suriya"></tbody>
    </table>
    <br /><br />
    <div class="row">
      <div class="col-2">
        <label for="file">Sub Total</label>
      </div>
      <div class="col-2">
        <input type="text" id="sub_total" readonly />
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col-2">
        <label for="file">GST Percentage</label>
      </div>
      <div class="col-2">
        <input type="text" id="gst" readonly />
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col-2">
        <label for="file">Total</label>
      </div>
      <div class="col-3">
        <input type="text" id="total" readonly />
      </div>
    </div>
    <br />
    <!-- <div class="row">
      <div class="col-2">
      </div>
      <div class="col-2">
        <a href="#" class="btn btn-success product_submit">Submit</a>
      </div>
    </div> -->
    <br />
  </div>

  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.  
min.js"></script>
  <script>
    var product = [{
      'name': 'Iphone',
      'price': 100000,
      'quantity': 1
    },
    {
      'name': 'Vivo',
      'price': 18000,
      'quantity': 1
    },
    {
      'name': 'Oppo',
      'price': 17000,
      'quantity': 1
    },
    {
      'name': 'Samsung',
      'price': 80000,
      'quantity': 1
    },
    {
      'name': 'Realme',
      'price': 15000,
      'quantity': 1
    },
    {
      'name': 'Redmi',
      'price': 12000,
      'quantity': 1
    },
    {
      'name': 'Nokia',
      'price': 13000,
      'quantity': 1
    },
    {
      'name': 'Asus',
      'price': 12000,
      'quantity': 1
    },
    {
      'name': 'Blackberry',
      'price': 58000,
      'quantity': 1
    }
    ];
    var select = document.getElementById("product");

    //Add the Options to the DropDownList.
    for (var i = 0; i < product.length; i++) {
      var option = document.createElement("option");

      //Set Customer Name in Text part.
      option.innerHTML = product[i].name;
      //    //Set CustomerId in Value part.
      //    option.value = product[i].price;

      //Add the Option element to DropDownList.
      select.options.add(option);
    }

    var arr1 = [];
    var j = 0;
    var sub = 0;
    var total = 0;

    // $('.product_add').click(function () {
    //   var product_name = $('#product').val();
    //   for (var i = 0; i < product.length; i++) {
    //     if (product[i].name == product_name) {
    //       if (arr1 != '') {
    //         var index = arr1.findIndex(x => x.name == product_name);
    //         if (index === -1) {
    //           console.log("arraaayyyyy", arr1)
    //           arr1.push(product[i])
    //         }
    //         else {
    //           console.log(arr1)
    //           arr1[j].quantity = arr1[j].quantity + 1
    //           arr1[j].price = arr1[j].quantity * arr1[j].price
    //           console.log("object already exists", arr1)
    //         }
    //       }
    //       else {
    //         arr1.push(product[i]);
    //         console.log("object", arr1)

    //       }
    //       if (arr1[j].quantity == 1) {
    //         var tab = "<tr class='prod_value'><td><input readonly class='prod_name' type='text' value=" + arr1[j].name +
    //           "></td><td><input readonly class='price' type='text' value=" + arr1[j].price +
    //           "></td><td><input class='qty' type='text' value=" + arr1[j].quantity + "></td></tr>";
    //         $("#suriya").append(tab);
    //       }
    //       else {
    //         var qtys = arr1[j].quantity
    //         var prices = arr1[j].price
    //         console.log('tabbbbb', prices, qtys)
    //         var tab = "<tr class='prod_value'><td><input readonly class='prod_name' type='text' value=" + arr1[j].name +
    //           "></td><td><input readonly class='price' type='text' value=" + prices +
    //           "></td><td><input class='qty' type='text' value=" + qtys + "></td></tr>";
    //         // $("#suriya").append(tab);
    //       }

    //       // var row = $('#tableId tbody tr');
    //       // if (row.length != 0) {
    //       //   next_name = $(row[i]).find(".prod_name").val();
    //       //   next_price = $(row[i]).find(".price").val();
    //       //   next_qty = $(row[i]).find(".qty").val();
    //       //   if (next_name == product_name) {
    //       //     console.log('for looppp', next_name, product_name)
    //       //     next_qty = Number(next_qty) + 1
    //       //     next_price = next_qty * next_price
    //       //     $('.price').val(next_price)
    //       //     $('.qty').val(next_qty)
    //       //   }
    //       //   else {
    //       //     $("#suriya").append(tab);

    //       //   }
    //       // }
    //       // else {
    //       //   $("#suriya").append(tab);

    //       // }
    //     }
    //   }
    //   j++
    // });

    function prod() {
      var value = document.getElementById('product').value;
      var g = document.getElementById('gst_percentage').value;
      document.getElementById('gst').value = g;

      for (i = 0; i < product.length; i++) {
        if (product[i].name == value) {
          // var arr = {};
          // console.log(product[i].name);
          // arr['name'] = product[i].name;
          // arr['price'] = product[i].price;
          // arr['quantity'] = product[i].quantity;

          // if (arr1[j].name == value) {
          if ($.inArray(value, arr1[j]) >= 0) {
            arr1[j].quantity = arr1[j].quantity + 1
            arr1[j].price = arr1[j].quantity * arr1[j].price
            console.log('inside if', arr1[j].name, arr1[j].price, arr1[j].quantity)
          }
          arr1.push(product[i]);
          console.log(arr1, 'arry');

          // if(value == arr1[j].name){
          //   if (jQuery.inArray(value, arr1[j].name >= 0 )) {
          //   console.log('if', arr1[j].name, arr1.length);

          // }
          var tab = "<tr class='prod_value'><td><input readonly class='prod_name' type='text' value=" + arr1[j].name +
            "></td><td><input readonly class='price' type='text' value=" + arr1[j].price +
            "></td><td><input onkeyup='multiply()'  class='qty' type='text' value=" + arr1[j].quantity + "></td></tr>";
          // console.log(arr1);
          $("#suriya").append(tab);

          sub += arr1[j].price * arr1[j].quantity;
          $("#sub_total").val(sub);
          // var gst = arr1[j].quantity * 28 / 100;
          // var gst = Number($("#gst").val());
          // console.log('gst is', gst)
          // if (gst == 28) {
          //   total = sub * gst / 100 ;
          //   $("#total").val(total);
          // }
          // if (gst == 18) {
          //   total = sub * gst / 100 ;
          //   $("#total").val(total);
          // } else {
          //   total = sub * gst / 100 ;
          //   $("#total").val(total);
          // }

        }
      }
      j++;
      multiply();
      // return true;
    }


    function multiply() {
      // var gst = Number(document.getElementById("gst").value);
      var gst_percentage = Number(document.getElementById("gst_percentage").value);

      var arr_price = [];
      var arr_gst = [];
      // var row_count = $('#tableId tbody tr').length;
      if (arr1.length > 0) {
        for (i = 0; i < arr1.length; i++) {
          var quantity = Number(document.getElementsByClassName("qty")[i].value);
          var prices = Number(document.getElementsByClassName("price")[i].value);
          var final_price = Number(quantity * prices);
          var final_gst = Number((final_price / 100) * gst_percentage);
          arr_price.push(final_price);
          arr_gst.push(final_gst)
        }

      }
      var sum_price = 0;
      var sum_gst = 0;
      var total_sum = 0;

      for (let i = 0; i < arr_price.length; i++) {
        sum_price += arr_price[i];
        sum_gst += arr_gst[i]
      }
      // console.log(arr_gst)
      document.getElementById("sub_total").value = sum_price;
      document.getElementById("gst").value = sum_gst;
      total_sum = sum_price + sum_gst;
      document.getElementById("total").value = total_sum;
    }


    function gst_percentage(gst) {
      // var gst = gst / 100; 
      $("#gst").val(gst);
      multiply();
    }
  </script>
  <script>
    // $('.product_submit').click(function () {
    //   // $("#tableId").on('click','.product_submit',function(){
    //   // var product_name = $('#product').val();
    //   // $("#tableId").each(function () {
    //   //   var value = $(this).text();
    //   //   console.log('value', value);
    //   // })
    //   // var MyRows = $('table#tableId').find('tbody').find('tr');
    //   // for (var i = 0; i < MyRows.length; i++) {
    //   //   var MyIndexValue = $(MyRows[i]).find('td:eq(0)').html();
    //   // }
    //   // console.log('MyIndexValue',MyIndexValue)

    //   var first_row = $('#tableId tbody tr');

    //   var next_row = $(this).closest('tr').next('tr')
    //   for (var i = 1; i < first_row.length - 1; i++) {
    //     first_name = $(first_row[i]).find(".prod_name").val();
    //     first_price = $(first_row[i]).find(".price").val();
    //     first_qty = $(first_row[i]).find(".qty").val();
    //     for (var j = 1; j < first_row.length; j++) {

    //       next_name = $(next_row[j]).find(".prod_name").val();
    //       next_price = $(next_row[j]).find(".price").val();
    //       next_qty = $(next_row[j]).find(".qty").val();
    //       console.log('for looppp', next_name, next_price, next_qty)

    //       // id = $("#tableId").find(".prod_name").val();
    //       // name = $("#tableId").find(".price").val();
    //       // qty = $("#tableId").find(".qty").val();

    //       // if (product[i].name == product_name) {
    //       //   var name = product[i].name
    //       //   var price = product[i].price
    //       //   var quan = product[i].quantity
    //       //   quan += 1;
    //       // }
    //       // else {
    //       //   var name = product[i].name
    //       //   var price = product[i].price
    //       //   var quan = product[i].quantity
    //       // }
    //     }
    //     console.log('Outside for loop', first_name, first_price, first_qty)

    //   }

    // console.log('row_val',name,price, qty);

    // var row_count = $('#tableId tbody tr');
    // var price = $('.price').val();
    // var qty = $('.qty').val();
    // var gst_percentage = $('#gst_percentage').val();
    // var gst = $('#gst').val();
    // var sub_total = $('#sub_total').val();
    // var total = $('#total').val();
    // console.log('price', price, qty,gst_percentage,gst, sub_total, total)

    // });

    // $('.product_submit').click(function () {
    //   var prod_check = []
    //   var row = $('#tableId tbody tr');
    //   for (var i = 0; i < row.length; i++) {
    //     var name = $(row[i]).find(".prod_name").val();
    //     var price = $(row[i]).find(".price").val();
    //     var qty = $(row[i]).find(".qty").val();
    //     if (jQuery.inArray(name, prod_check) >= 0) {
    //       final_qty = Number(qty) + 1
    //       var final_price = final_qty * price
    //     }
    //     else {
    //       final_price = price
    //       final_qty = qty
    //     }
    //     prod_check.push(name)
    //   }
    //   console.log(prod_check)
    //   console.log('array', final_price, final_qty)


    // });
    var onchange_qty = ''

    $('.product_add').click(function () {
      // $('.qty').keyup(function () {
      //   onchange_qty = $(this).val()
        // alert(onchange_qty)
        // var prod_check = []
        var gst_percentage = $('#gst_percentage').val();
        var row = $('#tableId tbody tr');

        for (var i = 0; i < row.length; i++) {
          var name = $(row[i]).find(".prod_name").val();
          var price = $(row[i]).find(".price").val();
          var qty = $(row[i]).find(".qty").val();
          // if (onchange_qty == 1) {
          //   qty = onchange_qty
          // }
          // else {
          //   qty = onchange_qty
          //   console.log('not equal', qty, onchange_qty)

          // }
        }

        console.log('array', name, price, qty, onchange_qty)
        var prod_obj = {
          'prod_name': name,
          'price': price,
          'quantity': qty,
          'gst_percentage': gst_percentage,
        }
        console.log('prod_obj', prod_obj)
        // $.ajax({
        //   url: '/product_add_ajax',
        //   method: 'post',
        //   data: prod_obj,

        // });
        $.ajax({
          url: "/product_add_ajax",
          type: "post",
          data: {
            data: JSON.stringify(prod_obj),
          },
          // dataType:"json",

          success: function (data) {
            // alert("ajax success");
            console.log("ajax success");
            // console.log(data);
          },
          error: function (data) {
            console.log("ajax fail");
          },
        });
      // });
    });


  </script>

</html>