<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <title>Product Add</title>

    <!-- Custom CSS  -->
    <link rel="stylesheet" type="text/css" href="{{ static_url('css/style.css') }}" />

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous" />
    <!-- Font Awesome Icon CDN -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
</head>
<body style="padding: 50px">
    <h2>Product Details</h2>
    <form action="/product_edit_update" method="post">
        <input type="hidden" name="prod_id" value="{{id}}">
        <div class="row">
            <div class="col-2">
                <label for="file">Product</label>
            </div>
            <div class="col-3">
                <select class="form-control " name="product" id="product">
                    <option value="">Choose Product</option>
                    <option value="Iphone">Iphone</option>
                    <option value="Vivo">Vivo</option>
                    <option value="Oppo">Oppo</option>
                    <option value="Samsung">Samsung</option>
                    <option value="Realme">Realme</option>
                    <option value="Redmi">Redmi</option>
                    <option value="Nokia">Nokia</option>
                    <option value="Asus">Asus</option>
                    <option value="Blackberry">Blackberry</option>
                </select>
            </div>
            <div class="col-1">
                <label for="file">GST Percentage</label>
            </div>
            <div class="col-3 ">
                <select class="form-control" name="gst_percentage" id="gst_percentage">
                    <option value="">Choose Gst Percentage</option>
                    <option value="28">28 %</option>
                    <option value="18">18 %</option>
                    <option value="8">8 %</option>
                </select>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-2">
                <label for="file">Price</label>
            </div>
            <div class="col-3 ">
                <input class="form-control price" type="text" name="price" id="price" readonly />
            </div>
            <div class="col-1">
                <label for="file">Quantity</label>
            </div>
            <div class="col-3 ">
                <input class="form-control quantity" onkeyup='multiply()' type="text" name="quantity" id="quantity" />
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-2">
                <label for="file">Sub Total</label>
            </div>
            <div class="col-3">
                <input class="form-control sub_total" type="text" name="sub_total" id="sub_total" readonly />
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-2">
                <label for="file">GST Percentage</label>
            </div>
            <div class="col-3">
                <input class="form-control gst" type="text" name="final_gst" id="gst" readonly />
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-2">
                <label for="file">Total</label>
            </div>
            <div class="col-3">
                <input class="form-control total" type="text" name="total" id="total" readonly />
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-2"></div>
            <div class="col-2">
                <button type="submit" class="btn btn-primary">
                    Submit
                </button>
            </div>
        </div>
    </form>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.  
min.js"></script>

    <script>
        $('#product').click(function () {

            var prod_name = $(this).val();
            if (prod_name == 'Iphone') {
                $('.price').val(100000)
                $('.quantity').val(1)
                var price = $('.price').val();
                var gty = $('.quantity').val();
            }
            else if (prod_name == 'Vivo') {
                $('.price').val(18000)
                $('.quantity').val(1)
                var price = $('.price').val();
                var gty = $('.quantity').val();
                $('.sub_total').val(price)
            }
            else if (prod_name == 'Oppo') {
                $('.price').val(17000)
                $('.quantity').val(1)
                var price = $('.price').val();
                var gty = $('.quantity').val();
                $('.sub_total').val(price)
            } else if (prod_name == 'Samsung') {
                $('.price').val(80000)
                $('.quantity').val(1)
                var price = $('.price').val();
                var gty = $('.quantity').val();
                $('.sub_total').val(price)
            } else if (prod_name == 'Realme') {
                $('.price').val(15000)
                $('.quantity').val(1)
                var price = $('.price').val();
                var gty = $('.quantity').val();
                $('.sub_total').val(price)
            } else if (prod_name == 'Redmi') {
                $('.price').val(12000)
                $('.quantity').val(1)
                var price = $('.price').val();
                var gty = $('.quantity').val();
                $('.sub_total').val(price)
            } else if (prod_name == 'Nokia') {
                $('.price').val(13000)
                $('.quantity').val(1)
                var price = $('.price').val();
                var gty = $('.quantity').val();
                $('.sub_total').val(price)
            } else if (prod_name == 'Asus') {
                $('.price').val(12000)
                $('.quantity').val(1)
                var price = $('.price').val();
                var gty = $('.quantity').val();
                $('.sub_total').val(price)
            } else if (prod_name == 'Blackberry') {
                $('.price').val(58000)
                $('.quantity').val(1)
                var price = $('.price').val();
                var gty = $('.quantity').val();
                $('.sub_total').val(price)
            }
        });

        function multiply() {
            var quantity = $('.quantity').val();
            var price = $('.price').val();
            var gst = $('#gst_percentage').val();
            var finalprice = quantity * price;
            var finalgst = (finalprice / 100) * gst;
            $('.sub_total').val(finalprice);
            $("#gst").val(finalgst);
            if (quantity == 1) {
                console.log('if inside', quantity)
            }
            var subtotal = $('.sub_total').val();
            var final_gst = $('#gst').val();
            var total = Number(subtotal) + Number(final_gst);
            $('.total').val(total);

        }
        $('#gst_percentage').change(function () {
            var gst = $(this).val();
            var quantity = $('.quantity').val();
            var price = $('.price').val();
            $("#gst").val(gst);
            var finalprice = quantity * price;
            var finalgst = (finalprice / 100) * gst;
            $('.sub_total').val(finalprice);
            $("#gst").val(finalgst);
            var subtotal = $('.sub_total').val();
            var final_gst = $('#gst').val();
            var total = Number(subtotal) + Number(final_gst);
            $('.total').val(total);
        });
    </script>
</body>

</html>