<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User View</title>

    <!-- Custom CSS  -->
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ static_url('css/style.css') }}"
    />

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6"
      crossorigin="anonymous"
    />
    <!-- Font Awesome Icon CDN -->
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>
  <body style="padding: 50px">
    <h2>Product View Details</h2>
    <form href="/" method="post" autocomplete="off">
      <div class="row">
        <div class="col-2">
          <label for="name">Product Name</label>
        </div>
        <div class="col-3">
          <input
            type="text"
            class="form-control"
            name="prod_name"
            value="{{ data['prod_name'] }}"
            readonly
          />
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col-2">
          <label for="name">Price</label>
        </div>
        <div class="col-3">
          <input
            type="text"
            class="form-control"
            name="price"
            value="{{ data['price'] }}"
            readonly
          />
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col-2">
          <label for="name">Quantity</label>
        </div>
        <div class="col-3">
          <input
            type="text"
            class="form-control"
            name="quantity"
            value="{{ data['quantity'] }}"
            readonly
          />
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col-2">
          <label for="name">Gst %</label>
        </div>
        <div class="col-3">
          <input
            type="text"
            class="form-control"
            name="gst"
            value="{{ data['gst'] }}"
            readonly
          />
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col-2">
          <label for="name">Final Gst</label>
        </div>
        <div class="col-3">
          <input
            type="text"
            class="form-control"
            name="final_gst"
            value="{{ data['final_gst'] }}"
            readonly
          />
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col-2">
          <label for="name">Sub Total</label>
        </div>
        <div class="col-3">
          <input
            type="text"
            class="form-control"
            name="sub_total"
            value="{{ data['sub_total'] }}"
            readonly
          />
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col-2">
          <label for="name">Total</label>
        </div>
        <div class="col-3">
          <input
            type="text"
            class="form-control"
            name="total"
            value="{{ data['total'] }}"
            readonly
          />
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col-2"></div>
        <div class="col-3">
          <a href="/product_list" class="btn btn-primary">Back</a>
        </div>
      </div>
    </form>

    <script
      type="text/javascript"
      src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.  
min.js"
    ></script>
  </body>
</html>
