<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>

  <!-- Custom CSS  -->
  <link rel="stylesheet" type="text/css" href="{{ static_url('css/style.css') }}" />

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous" />
  <!-- Font Awesome Icon CDN -->
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
</head>

<body style="padding: 30px">
  <h2>User Details</h2>
  <a href="/user_add" class="btn btn-primary" style="margin-left: 900px">
    Add New</a>
  <a href="/user_login" class="btn btn-danger"> Login</a>
  <a href="/product_add" class="btn btn-warning"> Product Add</a>
  <br /><br />

  <div class="row">
    <div class="col-2">
      <label for=""><strong> Ajax Call</strong></label>
    </div>


    <div class="col-3">
      <input type="text" class="form-control" name="ajax_call" id="ajax_call" readonly />
    </div>
  </div>
  <!-- <div class="col-3">
        <h3 style="color: crimson;" ></h3>
      </div> -->
  </div><br />
  <div class="row">
    <div class="col-2">
      <label for=""><strong> File Upload</strong></label>
    </div>
    <div class="col-2">
      <button id="add_files" class="btn btn-primary pull-right" data-toggle="modal" data-target="#myModal">Add
        files</button>
    </div>
  </div><br>
  <!-- <div class="col-3">
        <h3 style="color: crimson;" ></h3>
      </div> -->


  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">File Upload</h4>
        </div>
        <form action="/file_upload" method="post" autocomplete="off" enctype="multipart/form-data">
          <div class="modal-body">
            <div class="row">
              <div class="col-3">
                <label for=""><strong>single file</strong></label>
              </div>
              <div class="col-2">
                <input type="file" name="single_file" id="single_file">
              </div>
            </div><br><br>
            <div class="row">
              <div class="col-3">
                <label for=""><strong>multiple file</strong></label>
              </div>
              <div class="col-2">
                <input type="file" name="bulk_file" id="bulk_file" multiple>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </form>
      </div>

    </div>
  </div>
  <!-- <input type="button" value="Get Selected" onclick="GetSelected()" /> -->

  <div class="row">
    <div class="col-8"></div>
    <div class="col-2">
      <a href="#" class="btn btn-success user_edit_checkbox">CheckBox Edit</a>
    </div>
    <div class="col-2">
      <form id="checkbox_delete_form" action='/checkbox_delete' method='post' autocomplete="off">
        <div id="checkbox_delete"></div>
        <input type='submit' class="btn btn-danger user_delete_checkbox" value="CheckBox Delete">
      </form>
    </div>
  </div>
  <br /><br />

  <table id="myTable" class="table table-striped table-bordered" style="width: 100%">
    <!-- <table border="1"> -->
    <thead>
      <tr>
        <th></th>
        <th>Id</th>
        <th>Name</th>
        <th>City</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      {% for val in data %}
      <tr>
        <td><input type="checkbox" name="user_checkbox" class="user_checkbox" />&nbsp;</td>
        <td>{{ val['id'] }}</td>
        <td id="name">{{ val['name'] }}</td>
        <td>{{ val['city'] }}</td>
        <td>
          <a class="user" title="Edit" href="/user_edit/{{ val['id'] }}">
            <i class="fa fa-pencil" style="color: red"></i>
          </a>
          &nbsp; | &nbsp;
          <a class="user" title="View" href="/user_view/{{ val['id'] }}">
            <i class="fa fa-eye"></i>
          </a>
          &nbsp; | &nbsp;
          <a class="user" title="Delete" href="/user_delete/{{ val['id'] }}">
            <i class="fa fa-trash" style="color: red"></i>
          </a>
          &nbsp; | &nbsp;
          <a class="user" title="Download" href="/file_download/{{ val['id'] }}">
            <i class="fa fa-download"></i>
          </a>
        </td>
      </tr>
      {% end %}
    </tbody>
  </table><br>

  <form style="display: none;" id="checkbox_edit_form" action='/checkbox_edit' method='post' autocomplete="off">
    <h3>CheckBox User Edit Details</h3><br>
    <div id="checkbox_edit"></div>
    <div class='row'>
      <div class='col-2'></div>
      <div class='col-3'>
        <input type='button' class="btn btn-danger" value='Cancel'>&nbsp;
        <input type='submit' class="btn btn-success" value='Submit'>
      </div>
    </div>
    <br>
  </form>

<br><br>
  <h4>Check Box</h4>
  <input type="checkbox" id="ckbCheckAll" />
  <p id="checkBoxes">
    <input type="checkbox" class="checkBoxClass" id="Checkbox1" /> &nbsp; &nbsp;
    <input type="checkbox" class="checkBoxClass" id="Checkbox1" /> &nbsp; &nbsp;
    <input type="checkbox" class="checkBoxClass" id="Checkbox1" /> &nbsp; &nbsp;
    <input type="checkbox" class="checkBoxClass" id="Checkbox1" /> &nbsp; &nbsp;
    <input type="checkbox" class="checkBoxClass" id="Checkbox1" /> &nbsp; &nbsp;
    <input type="checkbox" class="checkBoxClass" id="Checkbox1" /> &nbsp; &nbsp;
    <br />
    <input type="checkbox" class="checkBoxClass" id="Checkbox1" /> &nbsp; &nbsp;
    <input type="checkbox" class="checkBoxClass" id="Checkbox1" /> &nbsp; &nbsp;
    <input type="checkbox" class="checkBoxClass" id="Checkbox1" /> &nbsp; &nbsp;
    <input type="checkbox" class="checkBoxClass" id="Checkbox1" /> &nbsp; &nbsp;
    <input type="checkbox" class="checkBoxClass" id="Checkbox1" /> &nbsp; &nbsp;
    <input type="checkbox" class="checkBoxClass" id="Checkbox1" /> &nbsp; &nbsp;
    <br />
    <input type="checkbox" class="checkBoxClass" id="Checkbox1" /> &nbsp; &nbsp;
    <input type="checkbox" class="checkBoxClass" id="Checkbox1" /> &nbsp; &nbsp;
    <input type="checkbox" class="checkBoxClass" id="Checkbox1" /> &nbsp; &nbsp;
    <input type="checkbox" class="checkBoxClass" id="Checkbox1" /> &nbsp; &nbsp;
    <input type="checkbox" class="checkBoxClass" id="Checkbox1" /> &nbsp; &nbsp;
    <input type="checkbox" class="checkBoxClass" id="Checkbox1" /> &nbsp; &nbsp;
    <br />
    <input type="checkbox" class="checkBoxClass" id="Checkbox1" /> &nbsp; &nbsp;
    <input type="checkbox" class="checkBoxClass" id="Checkbox1" /> &nbsp; &nbsp;
    <input type="checkbox" class="checkBoxClass" id="Checkbox1" /> &nbsp; &nbsp;
    <input type="checkbox" class="checkBoxClass" id="Checkbox1" /> &nbsp; &nbsp;
    <input type="checkbox" class="checkBoxClass" id="Checkbox1" /> &nbsp; &nbsp;
    <input type="checkbox" class="checkBoxClass" id="Checkbox1" /> &nbsp; &nbsp;
    <br />
    <input type="checkbox" class="checkBoxClass" id="Checkbox1" /> &nbsp; &nbsp;
    <input type="checkbox" class="checkBoxClass" id="Checkbox1" /> &nbsp; &nbsp;
    <input type="checkbox" class="checkBoxClass" id="Checkbox1" /> &nbsp; &nbsp;
    <input type="checkbox" class="checkBoxClass" id="Checkbox1" /> &nbsp; &nbsp;
    <input type="checkbox" class="checkBoxClass" id="Checkbox1" /> &nbsp; &nbsp;
    <input type="checkbox" class="checkBoxClass" id="Checkbox1" /> &nbsp; &nbsp;
    <br />
  </p>

  <!-- Model Popup CDN -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
    integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
    integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
    crossorigin="anonymous"></script>

  <!-- this file was moved after the jQuery Datatables library was laoded -->
  <script type="text/javascript" src="https://cdn.datatables.net/1.10.9/js/dataTables.bootstrap.min.js"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.  
    min.js"></script>
  <script type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-modal/2.2.6/js/bootstrap-modalmanager.min.js"></script>





  <script type="text/javascript" charseuser_checkboxt="utf8"
    src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>

  <script>

    $("#ckbCheckAll").click(function () {
      if ($(this).prop("checked")) {
        $(".checkBoxClass").prop("checked", true);
      } else {
        $(".checkBoxClass").prop("checked", false);
      }
    });

    $(".checkBoxClass").click(function () {
      if ($(".checkBoxClass:checked").length == $(".checkBoxClass").length) {
        $("#ckbCheckAll").prop("checked", true);
      } else {
        $("#ckbCheckAll").prop("checked", false);
      }
    });


    $("#myTable").DataTable({
      columnDefs: [
        {
          // targets: [2],
          orderable: false,
          searchable: false,
        },
      ],
      autowidth:true,
      scrollX:true,
      searching: true,
      order: [],
    });

    $(document).ready(function () {
      $a = 10;
      $b = 20;
      console.log("Sum is:", $a + $b);
      $obj = [];
      $table = $("#myTable").DataTable();
      $("#myTable tbody").on("click", "tr", function () {text
        $table_val = $table.row(this).data();
        // $obj.push($table_val);
        // console.log($obj);
        // console.log($obj[0]);
        $($table_val).each(function (key, value) {
          //   $obj[i] = e.checked;
          $obj.push(value);
        });
        // console.log($obj);
      });
      $data = "User List Details";
      // $data =$('h2').html();
      // $data = $('#ajax_call').val()
      // alert($data)
      // setTimeout(()=>{user_checkbox
      // $.ajax({
      //   url: "/ajax_call",
      //   type: "post",
      //   data: {
      //     data: $data,
      //   },

      //   // success: function (result) {
      //   //   $("#div1").html(result);
      //   //   console.log(result);
      //   // },
      //   success: function (result) {text
      //     // alert("ajax success");
      //     $("#ajax_call").val(result);
      //     console.log(result);
      //   },
      //   error: function (result) {
      //     alert("ajax fail");
      //   },
      // });
      // },5000)
    });
// $('#add_files').on('click', function(){
// alert('mnfgbsdjh')
// });
  </script>
  <script>
    // var arr = [1,4,5,7,8,9,0,54,343]
    // console.log('Before sort')
    // for(var i=1;i<arr.length;i++){
    // console.log(arr[i])
    // }

    //   for(var i=1;i<arr.length;i++){
    //   for(var j=1;i<arr.length-1;j++){
    //     if(arr[j]false > arr[j+1]){
    //       var temp = arr[j]user_checkbox
    //       arr[j] = arr[j+1]
    //       arr[j+1] = temp
    //     }
    //   }
    // }

    // IF Statement


    // var mark1 = parseInt(prompt('Enter mark1'))
    // var mark2 = parseInt(prompt('Enter mark2'))
    // var mark3 = parseInt(prompt('Enter mark3'))
    // var total = mark1 + mark2 + mark3text
    // var avg = total / 3
    // var percent = avg * 100
    // console.log("Total", total)
    // console.log("Average", avg)
    // console.log("Percentage", percent)

    // if (total > 250){
    //   alert("Grade A")
    // }
    // else if(total < 249 && total > 199){
    //   alert("Grade B")
    // }
    // else{
    //   alert("Grade c")
    // } 


        ////////////  AJAX HANDING CHECKBOX EDIT   ///////////////////////


    //    var info = [];
    // $(".user_edit_checkbox").click(function(){
    //   var checkbox_length = $('input:checkbox:checked').length;
    //   // $('#AddCommentModal').modal('show');
    //   // var modal =  $("#AddCommentModal").modal("show");
    //     $.each($('input[type="checkbox"]:checked'), function() { 

    //       var data = {};
    //         currentRows = $(this).closest("tr");
    //         id = currentRows.find("td:eq(1)").html();
    //         name = currentRows.find("td:eq(2)").html();
    //         city = currentRows.find("td:eq(3)").html();
    //         data.id = id;
    //         data.name = name;
    //         data.city = city;
    //         info.push(data)
    //       }); 
    //       console.log('info', info)
    //      for(var i=0; i<info.length; i++){
    //       $('#checkbox_name').val(info[i].name)
    //       $('#checkbox_city').val(info[i].city)

    //     console.log(info[i].name)
    //     console.log(info[i].city)
    //   }
    //  $.ajax({
    //       url: "/user_checkbox_edit",
    //       type: "get",
    //       data: {
    //         data: JSON.stringify(info),
    //       },
    //       // dataType:"json",

    //       success: function (data) {
    //         // alert("ajax success");
    //         console.log("ajax success");
    //         // console.log(data);
    //       },
    //       error: function (data) {
    //         alert("ajax fail");
    //       },
    //     });
    // });


    $(".user_edit_checkbox").click(function () {

      $('#checkbox_edit_form').show();
      $.each($('input[type="checkbox"]:checked'), function () {
        var checkbox_length = $('input:checkbox:checked').length;
        currentRows = $(this).closest("tr");
        id = currentRows.find("td:eq(1)").html();
        name = currentRows.find("td:eq(2)").html();
        city = currentRows.find("td:eq(3)").html();
        console.log(id, name, city)

        // for(var i=0; i<checkbox_length; i++){

        // if ($(this).prop("checked") == true) {
        var tab = "<input type='hidden' name='checkbox_id[]' value=" + id + "><div class='row'><div class='col-2'><label for='name'>Name </label></div><div class='col-3'><input class='form-control' type='text' name='name[]' value=" + name + "></div></div><br><div class='row'><div class='col-2'><label for='city'>City </label></div><div class='col-3'><input class='form-control' type='text' name='city[]' value=" + city + "></div></div><br>";
        $("#checkbox_edit").append(tab);
        // }
        // else if ($(this).prop("checked") == false) {
        //   $('#suriya').hide();
        // }
      });
    });

    $(".user_delete_checkbox").click(function () {
      $('#checkbox_delete_form').show();
      $.each($('input[type="checkbox"]:checked'), function () {
        var checkbox_length = $('input:checkbox:checked').length;
        currentRows = $(this).closest("tr");
        id = currentRows.find("td:eq(1)").html();
        console.log(id)
        var tab = "<input type='hidden' name='checkbox_id[]' value=" + id + ">";
        $("#checkbox_delete").append(tab);

      });
    });




  </script>
</body>

</html>