<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User Add</title>

    <!-- Custom CSS  -->
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ static_url('css/style.css') }}"
    />

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6"
      crossorigin="anonymous"
    />
    <!-- Font Awesome Icon CDN -->
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>
  <body style="padding: 50px">
    <h2>User Add Details</h2>
    <form method="post" autocomplete="off">
      <div class="row">
        <div class="col-2">
          <label for="name">Name</label>
        </div>
        <div class="col-3">
          <input type="text" class="form-control" name="name" id="name" />
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col-2">
          <label for="city">City</label>
        </div>
        <div class="col-3">
          <input type="text" class="form-control" name="city" id="city" />
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col-2">
          <label for="file">File</label>
        </div>
        <div class="col-3">
          <input type="file" class="form-control" name="files" id="files" />
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col-2"></div>
        <div class="col-3">
          <button type="button" id="submit-btn" class="btn btn-primary">
            Submit
          </button>
        </div>
      </div>
    </form>

    <script
      type="text/javascript"
      src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.  
min.js"
    ></script>

    <script>
      $("#submit-btn").click(function (event) {
        var name = $("#name").val();
        var city = $("#city").val();
        // var file = $('input[type=file]').val().replace(/.*(\/|\\)/, '');
        var file = $("#files")[0].files[0];
        // var props = $("#files").prop("files");
        // file = props[0]
        // var file = $('#files')[0].files[0];
        $.get(file, function (data) {
          console.log(data);
          // data will contain the string of your CSV file
        });
        const formData = new FormData();
        formData.append("name", name);
        formData.append("city", city);
        formData.append("files", file.name);

        jQuery
          .ajax({
            url: "/user_add",
            data: formData,
            type: "POST",
            processData: false,
            contentType: false,
          })
          .done(function (data) {
            // call was successful
            // access response data
            // alert("success");
            // window.location.href = "/user_list";
            console.log("success");
          })
          .fail(function (data) {
            // call error
            // access response data
            alert("error");
          });

        event.preventDefault();
      });
    </script>
  </body>
</html>
